/* hyndai #2196F3 */
/* text #757575 */
/* hero + bg head #FFFFFF */
/* h #212121 */
/* adress rgba(255, 255, 255, 0.6) */

/* bg + futa #2F303A */
/* bg2 #E5E5E5 */
/* bg3 #F5F4FA */
@import './utils/placeHolders';
@import './utils/variables';
@import './utils/breakePoints';
@import './components/header';
@import './components/logo';
@import './components/socials';
@import './components/modal';
@import './components/footer';
.page {
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.img {
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include phone {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-color: var(--hero-footer-colour);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  &__title {
    line-height: 1.6154;
    font-size: 26px;
    vertical-align: auto;
    margin: 0;
    color: var(--main-bg-colour);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include desktop {
      font-size: 44px;
      line-height: 1.36;
      padding: 200px 0 200px 0;
    }
  }
  &__cta {
    @extend %cta;
  }
}

.feature {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
.feature__list {
  @extend %list;
  @include desktop {
    display: flex;
  }
}

.feature__item {
  @include phone {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @include desktop {
    width: 270px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
.feture__icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-colour);
  border-radius: 4px;
  @extend %flex-justify;
  @include desktop {
    width: 270px;
  }
}

.feature__title {
  @extend %title;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  @include phone {
    text-align: center;
  }
}
.feature__text {
  margin: 10px 0 0 0;
  line-height: 1.71;
}
