.logo {
  text-decoration: none;
  font-family: 'raleway', bold;
  font-size: 24px;
  line-height: 1.19;
  font-style: unset;
  color: var(--accent-colour);
  @include desktop {
    font-size: 26px;
  }
}

.logo--black {
  color: #000000;
}
.logo--white {
  color: var(--main-bg-colour);
}
